<app-navbar></app-navbar>
<div class="not-found-container">
  <div class="cloud1">
    <img src="../../assets/images/cloud.png">
  </div>
  <div class="cloud2">
    <img src="../../assets/images/cloud.png">
  </div>
  <div class="container">
    <div class="not-found">
      <div class="error">
        <h1>404</h1>
        <p>We're sorry, but the Page you were looking for, couldn't be found.</p>
        <a class="btn" routerLink="/">
          Back To Home Page

        </a>
      </div>


    </div>
    <div class="bg">
      <img src="../../assets/images/city.png">
    </div>

  </div>

</div>


<app-footer></app-footer>
