<div class="container">
  <div class="activities">
    <h1>Tours and Activities to Experience Al-Fayoum </h1>

    <div class="row">

      <div class="col-lg-3 col-sm-6 mt-4" *ngFor='let activity of activities'>
        <a href="#">
          <mat-card class="example-card">

            <img mat-card-image src="http://pixelserver-001-site11.itempurl.com/images/{{activity.image}}">
            <mat-card-content>
              <h3>{{activity.titleEn}}</h3>
              <p>{{activity.discriptionEn}}</p>
            </mat-card-content>

          </mat-card>
        </a>

      </div>

    </div>
  </div>
</div>
