<section class="reviews mt-5">
  <div class="reviews-header">
    <h2>Item Reviews</h2>
  </div>
  <hr>
  <div class="comment-container">
    <mat-card>
      <div class="row">
        <div class="col-2 text-center">
          <img src="../../../assets/images/user.jpg" alt="">
          <h5>Liza blabla</h5>
        </div>

        <div class="col-md-10 comment">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero magni illum quos sapiente doloremque, porro
            beatae totam placeat maxime voluptate velit earum optio recusandae suscipit? Omnis atque quaerat hic
            reprehenderit.</p>
          <div class="rate"><span class="rate-number">4.5</span></div>
        </div>
      </div>
    </mat-card>

  </div>

</section>
