<!-- <app-loader></app-loader> -->



<section class="setting">

  <app-navbar></app-navbar>

  <div class="container">
    <div class="row mt-5">

      <div class="col-lg-12 tex">
        <h2> Personal details</h2>
        <p class="info">Update your info and find out how it's used</p>
        <table class="table">
          <tbody>

            <tr>
              <td>Name</td>
              <td>
                <p class="name">pixel-بيكسل</p>
              </td>
              <td><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#Name">
                  Edit
                </button></td>
            </tr>

            <tr>
              <td>Email Address</td>
              <td>
                <p><span class="email">pixelgroup2019@gmail.com</span>
                </p>
                <p>this is the email address you use to sign in.it's also
                  where we send your booking confirmation</p>
              </td>
              <td><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#EmailAddress">
                  Edit
                </button></td>
            </tr>
            <tr>
              <td>phone Number</td>
              <td>
                <p>Add your phone number</p>
                <p>properties or attraction you book will use this number if they need to contact you.</p>
              </td>
              <td><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#phoneNumber">
                  Edit
                </button></td>
            </tr>

          </tbody>
        </table>
        <p class="Change_password">Change Password</p>
      </div>
    </div>
  </div>
</section>
