<div class="popular-hotels">
  <div class="container">
    <div class="stars">
      <mat-icon class="star">grade</mat-icon>
      <mat-icon class="filled-star">star</mat-icon>
      <mat-icon class="star">grade</mat-icon>
    </div>
    <h1>Popular Hotels In Al Fayoum</h1>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let hotel of hotels">
        <a>
          <div class="card">
            <div class="card-image-container">
              <img src="http://pixelserver-001-site11.ctempurl.com/images/{{hotel.mainImage}}" class="card-img-top"
                alt="{{hotel.nameEn}}">

              <div class="rate">


                <span class="rate-number">{{hotel.rate|round}}</span>
                <span class="score">Rate:</span>

              </div>
            </div>

            <div class="card-body">
              <h3 class="card-title">
                <a>
                  {{hotel.nameEn}}
                </a>

              </h3>

              <p class="card-text text-muted">{{hotel.discriptionEn|slice}}</p>
              <div class="facilities">
                <mat-icon [ngClass]="{'active':hotel.hasSeaView}">water</mat-icon>
                <mat-icon [ngClass]="{'active':hotel.hasSeaView}">pets</mat-icon>
                <mat-icon [ngClass]="{'active':hotel.hasSeaView}">restaurant</mat-icon>
              </div>

            </div>
          </div>
        </a>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
