<div class="popular-hotels">
  <div class="container">
    <div class="stars">
      <mat-icon class="star">grade</mat-icon>
      <mat-icon class="filled-star">star</mat-icon>
      <mat-icon class="star">grade</mat-icon>
    </div>
    <h1>Popular Hotels In Al Fayoum</h1>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <a>
          <div class="card">
            <div class="card-image-container">
              <img src="../../../assets/images/hotel.jpg" class="card-img-top" alt="...">

              <div class="rate">


                <span class="rate-number">4.5</span>
                <span class="score">Very Good</span>

              </div>
            </div>

            <div class="card-body">
              <h3 class="card-title">
                <a>
                  Gold Plaza Hotel
                </a>

              </h3>

              <p class="card-text text-muted">Some quick example text to build on the card title and make up the....</p>
              <div class="facilities">
                <mat-icon>wifi</mat-icon>
                <mat-icon>pets</mat-icon>
                <mat-icon>restaurant</mat-icon>
              </div>

            </div>
          </div>
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a>
          <div class="card">
            <div class="card-image-container">
              <img src="../../../assets/images/hotel.jpg" class="card-img-top" alt="...">

              <div class="rate">


                <span class="rate-number">4.5</span>
                <span class="score">Very Good</span>

              </div>
            </div>

            <div class="card-body">
              <h3 class="card-title">
                <a>
                  Gold Plaza Hotel
                </a>

              </h3>

              <p class="card-text text-muted">Some quick example text to build on the card title and make up the....</p>
              <div class="facilities">
                <mat-icon>wifi</mat-icon>
                <mat-icon>pets</mat-icon>
                <mat-icon>restaurant</mat-icon>
              </div>

            </div>
          </div>
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a>
          <div class="card">
            <div class="card-image-container">
              <img src="../../../assets/images/hotel.jpg" class="card-img-top" alt="...">

              <div class="rate">


                <span class="rate-number">4.5</span>
                <span class="score">Very Good</span>

              </div>
            </div>

            <div class="card-body">
              <h3 class="card-title">
                <a>
                  Gold Plaza Hotel
                </a>

              </h3>

              <p class="card-text text-muted">Some quick example text to build on the card title and make up the....</p>
              <div class="facilities">
                <mat-icon>wifi</mat-icon>
                <mat-icon>pets</mat-icon>
                <mat-icon>restaurant</mat-icon>
              </div>

            </div>
          </div>
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a>
          <div class="card">
            <div class="card-image-container">
              <img src="../../../assets/images/hotel.jpg" class="card-img-top" alt="...">

              <div class="rate">


                <span class="rate-number">4.5</span>
                <span class="score">Very Good</span>

              </div>
            </div>

            <div class="card-body">
              <h3 class="card-title">
                <a>
                  Gold Plaza Hotel
                </a>

              </h3>

              <p class="card-text text-muted">Some quick example text to build on the card title and make up the....</p>
              <div class="facilities">
                <mat-icon>wifi</mat-icon>
                <mat-icon>pets</mat-icon>
                <mat-icon>restaurant</mat-icon>
              </div>

            </div>
          </div>
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a>
          <div class="card">
            <div class="card-image-container">
              <img src="../../../assets/images/hotel.jpg" class="card-img-top" alt="...">

              <div class="rate">


                <span class="rate-number">4.5</span>
                <span class="score">Very Good</span>

              </div>
            </div>

            <div class="card-body">
              <h3 class="card-title">
                <a>
                  Gold Plaza Hotel
                </a>

              </h3>

              <p class="card-text text-muted">Some quick example text to build on the card title and make up the....</p>
              <div class="facilities">
                <mat-icon>wifi</mat-icon>
                <mat-icon>pets</mat-icon>
                <mat-icon>restaurant</mat-icon>
              </div>

            </div>
          </div>
        </a>
      </ng-template>
      <ng-template carouselSlide>
        <a>
          <div class="card">
            <div class="card-image-container">
              <img src="../../../assets/images/hotel.jpg" class="card-img-top" alt="...">

              <div class="rate">


                <span class="rate-number">4.5</span>
                <span class="score">Very Good</span>

              </div>
            </div>

            <div class="card-body">
              <h3 class="card-title">
                <a>
                  Gold Plaza Hotel
                </a>

              </h3>

              <p class="card-text text-muted">Some quick example text to build on the card title and make up the....</p>
              <div class="facilities">
                <mat-icon>wifi</mat-icon>
                <mat-icon>pets</mat-icon>
                <mat-icon>restaurant</mat-icon>
              </div>

            </div>
          </div>
        </a>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
