<app-loader *ngIf="loader"></app-loader>



<div class="login">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="login-box">
      <form (ngSubmit)="forgetPassword()">
        <div class="user-box">
          <input class="input" type="text" maxlength="6" id="" required="" placeholder="Please Enter a code" #code>
        </div>
        <div class="user-box">
          <input class="input" type="password" required="" placeholder="Enter a New Password" #password>
        </div>
        <!-- /.user-box -->
        <button type="submit" class="btn">
          <a>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Change Password
          </a>
        </button>



      </form>

    </div>
  </div>

  <!-- /.login-box -->

</div>

<app-footer></app-footer>
