<app-header></app-header>
<div class="container">
  <div class="places-you-like container">
    <h1>Al Fayoum is the bext place to do the things you love</h1>
    <div class="row">
      <div class="col-sm-4 mt-2">
        <div class="card">
          <img src="../../assets/images/beaches.jpg" class="img-fluid">
          <div class="card-content">
            <h2>Beaches</h2>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-2">
        <div class="card">
          <img src="../../assets/images/GettyImages-182131556_master.jpg" class="img-fluid">
          <div class="card-content">
            <h2>CountrySide</h2>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-2">
        <div class="card">
          <img src="../../assets/images/nature.jpg" class="img-fluid">
          <div class="card-content">
            <h2>Nature</h2>
          </div>
        </div>
      </div>

    </div>
  </div>





</div>

<!-- popular hotels -->
<app-popular-hotels></app-popular-hotels>

<!-- Explore -->
<div class="explore">
  <div class="overlay">
    <div class="explore-content">
      <h2>Explore Al Fayioum with Us And book your Vecation Now</h2>
      <button class="btn">View All Hotels</button>
    </div>
  </div>
</div>
<!-- activities -->
<app-activities></app-activities>


<!-- About us -->
<!-- <div class="about">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>About Us</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quas eos minima quasi enim quibusdam sequi
            odio fuga, voluptate tenetur ipsum unde dignissimos? Rerum doloremque autem perspiciatis amet sint nesciunt!
          </p>
        </div>
        <div class="col-md-6">
          <div class="img-container">
            <img class="img1" src="../../assets/images/beach.jpg.crdownload" alt="" srcset="">
            <img class="img2" src="../../assets/images/GettyImages-182131556_master.jpg" alt="" srcset="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Contact Us -->
<div class="contact-us">
  <div class="overlay">
    <div class="container">
      <h2>For Reservation 0r Query?</h2>
      <button class="btn"><a>0110115257623</a></button>

    </div>
  </div>

</div>


<app-footer></app-footer>
