<app-loader *ngIf="loader"></app-loader>


<div class="login">

  <app-navbar></app-navbar>
  <div class="container">
    <div class="login-box">
      <h2>Forget Password </h2>
      <form (ngSubmit)="sendVerificationCode()">
        <div class="user-box">
          <input class="input" type="text" id="" required="" placeholder="Please Enter your Email" #email>

        </div>
        <!-- /.user-box -->
        <button type="submit" class="btn">
          <a>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Forget Password
          </a>
        </button>



      </form>

    </div>
  </div>

  <!-- /.login-box -->

</div>

<app-footer></app-footer>
