<div class="row ">
  <div class="col-12">
    <div class="rooms">
      <h2>Available Rooms</h2>
      <hr>
      <div class="row room mt-3">
        <div class="img-container">
          <img src="../../../assets/images/hotel.jpg" class="img-fluid">
        </div>
        <div class="content-container">
          <div class="room-header">
            <h3>Standard Family Room</h3>
            <h3>$ 13</h3>
          </div>
          <p class="text-muted">Morbi varius, nulla sit amet rutrum elementum, est elit finibus tellus, ut tristique
            elit risus at metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <hr>
          <div class="facilities">
            <mat-icon>wifi</mat-icon>
            <mat-icon>pets</mat-icon>
            <mat-icon>restaurant</mat-icon>
          </div>

        </div>
      </div>
      <div class="row room mt-3">
        <div class="img-container">
          <img src="../../../assets/images/hotel.jpg" class="img-fluid">
        </div>
        <div class="content-container">
          <div class="room-header">
            <h3>Standard Family Room</h3>
            <h3>$ 13</h3>
          </div>
          <p class="text-muted">Morbi varius, nulla sit amet rutrum elementum, est elit finibus tellus, ut tristique
            elit risus at metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <hr>
          <div class="facilities">
            <mat-icon>wifi</mat-icon>
            <mat-icon>pets</mat-icon>
            <mat-icon>restaurant</mat-icon>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
