<div class="search-list-container ">
  <app-navbar></app-navbar>
  <div class="container mt-5 mb-5">
    <div class="search-item mt-4">
      <div class="search-image">
        <img src="../../assets/images/hotel.jpg">
        <div class="rate">


          <span class="rate-number">4.5</span>
          <span class="score">Very Good</span>

        </div>
      </div>
      <div class="search-content">
        <div class="search-header">
          <h5>Plaza Hotel Al-Fayoum</h5>

        </div>

        <div class="location-container">
          <a href="#" class="map-item">
            <mat-icon>location_on</mat-icon>
            27th Brooklyn New York, USA
          </a>
        </div>
        <hr>
        <p class="text-muted">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam modi doloremque dignissimos similique
          voluptatem! Dolorum itaque quaerat cumque tempora a qui tenetur suscipit quasi nam, iusto earum labore ratione
          rem?
        </p>
        <div class="facilities">
          <mat-icon>wifi</mat-icon>
          <mat-icon>pets</mat-icon>
          <mat-icon>restaurant</mat-icon>
        </div>
        <button class="btn btn-prices">show Prices</button>

      </div>
    </div>
    <div class="search-item mt-4">
      <div class="search-image">
        <img src="../../assets/images/hotel.jpg">
        <div class="rate">


          <span class="rate-number">4.5</span>
          <span class="score">Very Good</span>

        </div>
      </div>
      <div class="search-content">
        <div class="search-header">
          <h5>Plaza Hotel Al-Fayoum</h5>

        </div>

        <div class="location-container">
          <a href="#" class="map-item">
            <mat-icon>location_on</mat-icon>
            27th Brooklyn New York, USA
          </a>
        </div>
        <hr>
        <p class="text-muted">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam modi doloremque dignissimos similique
          voluptatem! Dolorum itaque quaerat cumque tempora a qui tenetur suscipit quasi nam, iusto earum labore ratione
          rem?
        </p>
        <div class="facilities">
          <mat-icon>wifi</mat-icon>
          <mat-icon>pets</mat-icon>
          <mat-icon>restaurant</mat-icon>
        </div>
        <button class="btn btn-prices">show Prices</button>

      </div>
    </div>
    <div class="search-item mt-4">
      <div class="search-image">
        <img src="../../assets/images/hotel.jpg">
        <div class="rate">


          <span class="rate-number">4.5</span>
          <span class="score">Very Good</span>

        </div>
      </div>
      <div class="search-content">
        <div class="search-header">
          <h5>Plaza Hotel Al-Fayoum</h5>

        </div>

        <div class="location-container">
          <a href="#" class="map-item">
            <mat-icon>location_on</mat-icon>
            27th Brooklyn New York, USA
          </a>
        </div>
        <hr>
        <p class="text-muted">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam modi doloremque dignissimos similique
          voluptatem! Dolorum itaque quaerat cumque tempora a qui tenetur suscipit quasi nam, iusto earum labore ratione
          rem?
        </p>
        <div class="facilities">
          <mat-icon>wifi</mat-icon>
          <mat-icon>pets</mat-icon>
          <mat-icon>restaurant</mat-icon>
        </div>
        <button class="btn btn-prices">show Prices</button>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
